* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    font-family: Arial, sans-serif;
}

header {
    position: relative;
    background-color: gray;
    color: white;
}

img {
    width: 200px;
    height: 200px;
    position: absolute;
    float: right;
    clear: right;
}